# Este Script permite definir una forma de separar los sistemas de la IEEE en varias áreas, solo utilizando los nodos de cada área.

In [1]:
# Cargamos las librerías
import pandapower as pp, pandapower.networks as pn

In [39]:
# Configuración de los modelos
net = pn.case39()
net

This pandapower network includes the following parameter tables:
   - bus (39 elements)
   - load (21 elements)
   - gen (9 elements)
   - ext_grid (1 element)
   - line (35 elements)
   - trafo (11 elements)
   - poly_cost (10 elements)
   - bus_geodata (39 elements)

In [40]:
# Ajustamos el área A 
net_A = pn.case39()
bus_A = [1,2,30,37,25,3,18,26,17,27,28,29,38]

In [33]:
# Seleccionamos las barras del área A
net_A.bus.loc[net_A.bus["name"].isin(bus_A)]

    in_service  max_vm_pu  min_vm_pu name type  vn_kv zone
0         True       1.06       0.94    1    b  345.0  2.0
1         True       1.06       0.94    2    b  345.0  2.0
2         True       1.06       0.94    3    b  345.0  2.0
16        True       1.06       0.94   17    b  345.0  2.0
17        True       1.06       0.94   18    b  345.0  2.0
24        True       1.06       0.94   25    b  345.0  2.0
25        True       1.06       0.94   26    b  345.0  2.0
26        True       1.06       0.94   27    b  345.0  2.0
27        True       1.06       0.94   28    b  345.0  3.0
28        True       1.06       0.94   29    b  345.0  3.0
29        True       1.06       0.94   30    b  345.0  2.0
36        True       1.06       0.94   37    b  345.0  2.0
37        True       1.06       0.94   38    b  345.0  3.0

In [38]:
# Seleccionamos las líneas del área A
bus_A_aux = [i-1 for i in bus_A]
net_A.line.loc[net_A.line["from_bus"].isin(bus_A_aux) & net_A.line["to_bus"].isin(bus_A_aux)]

,c_nf_per_km,df,from_bus,g_us_per_km,in_service,length_km,max_i_ka,max_loading_percent,name,parallel,r_ohm_per_km,std_type,to_bus,type,x_ohm_per_km
0,1557.117675,1.0,0,0.0,True,1.0,1.004087,100.0,None,1,4.165875,None,1,ol,48.919275
2,573.194026,1.0,1,0.0,True,1.0,0.836740,100.0,None,1,1.547325,None,2,ol,17.972775
3,325.374525,1.0,1,0.0,True,1.0,0.836740,100.0,None,1,8.331750,None,24,ol,10.236150
5,476.473106,1.0,2,0.0,True,1.0,0.836740,100.0,None,1,1.309275,None,17,ol,15.830325
24,293.951369,1.0,16,0.0,True,1.0,1.004087,100.0,None,1,0.833175,None,17,ol,9.760050
25,716.715392,1.0,16,0.0,True,1.0,1.004087,100.0,None,1,1.547325,None,26,ol,20.591325
30,1183.382690,1.0,24,0.0,True,1.0,1.004087,100.0,None,1,3.808800,None,25,ol,38.445075
31,533.970796,1.0,25,0.0,True,1.0,1.004087,100.0,None,1,1.666350,None,26,ol,17.496675
32,1738.747975,1.0,25,0.0,True,1.0,1.004087,100.0,None,1,5.118075,None,27,ol,56.417850
33,2293.221822,1.0,25,0.0,True,1.0,1.004087,100.0,None,1,6.784425,None,28,ol,74.390625
34,554.919566,1.0,27,0.0,True,1.0,1.004087,100.0,None,1,1.666350,None,28,ol,17.972775

In [42]:
# Seleccionamos las cargas del área A 
bus_A_aux = [i-1 for i in bus_A]
net_A.load.loc[net_A.load["bus"].isin(bus_A_aux)]

,bus,const_i_percent,const_z_percent,controllable,in_service,name,p_mw,q_mvar,scaling,sn_mva,type
0,0,0.0,0.0,False,True,None,97.6,44.2,1.0,NaN,None
1,2,0.0,0.0,False,True,None,322.0,2.4,1.0,NaN,None
9,17,0.0,0.0,False,True,None,158.0,30.0,1.0,NaN,None
14,24,0.0,0.0,False,True,None,224.0,47.2,1.0,NaN,None
15,25,0.0,0.0,False,True,None,139.0,17.0,1.0,NaN,None
16,26,0.0,0.0,False,True,None,281.0,75.5,1.0,NaN,None
17,27,0.0,0.0,False,True,None,206.0,27.6,1.0,NaN,None
18,28,0.0,0.0,False,True,None,283.5,26.9,1.0,NaN,None

In [43]:
# Seleccionamos los generadores del área A 
bus_A_aux = [i-1 for i in bus_A]
net_A.gen.loc[net_A.gen["bus"].isin(bus_A_aux)]

,bus,controllable,in_service,name,p_mw,scaling,sn_mva,type,vm_pu,slack,max_p_mw,min_p_mw,max_q_mvar,min_q_mvar,slack_weight
0,29,True,True,None,250.0,1.0,NaN,None,1.0499,False,1040.0,0.0,400.0,140.0,0.0
6,36,True,True,None,540.0,1.0,NaN,None,1.0275,False,564.0,0.0,250.0,0.0,0.0
7,37,True,True,None,830.0,1.0,NaN,None,1.0265,False,865.0,0.0,300.0,-150.0,0.0

In [53]:
# Seleccionamos external grid
net_A.ext_grid.loc[net_A.ext_grid["bus"].isin(bus_A)]

,bus,in_service,name,va_degree,vm_pu,max_p_mw,min_p_mw,max_q_mvar,min_q_mvar,slack_weight
0,30,True,None,0.0,0.982,646.0,0.0,300.0,-100.0,1.0

In [45]:
# Seleccionamos los transformadores del área A
bus_A_aux = [i-1 for i in bus_A]
net_A.trafo.loc[net_A.trafo["hv_bus"].isin(bus_A_aux) & net_A.trafo["lv_bus"].isin(bus_A_aux)]

,df,hv_bus,i0_percent,in_service,lv_bus,max_loading_percent,name,parallel,pfe_kw,shift_degree,...,tap_min,tap_phase_shifter,tap_pos,tap_side,tap_step_degree,tap_step_percent,vn_hv_kv,vn_lv_kv,vk_percent,vkr_percent
0,1.0,1,0.0,True,29,100.0,None,1,0.0,0.0,...,NaN,False,1,hv,NaN,2.5,345.0,345.0,16.290000,0.00
9,1.0,24,0.0,True,36,100.0,None,1,0.0,0.0,...,NaN,False,1,hv,NaN,2.5,345.0,345.0,20.886982,0.54
10,1.0,28,0.0,True,37,100.0,None,1,0.0,0.0,...,NaN,False,1,hv,NaN,2.5,345.0,345.0,18.744599,0.96

In [51]:
# filtramos por Coordenadas
bus_A_aux = [i-1 for i in bus_A]
net_A.bus_geodata.filter(items=bus_A_aux, axis=0)

           x         y coords
0   3.865190 -7.520544   None
1   2.781131 -6.995665   None
29  3.052389 -8.071252   None
36  1.787379 -8.760100   None
24  1.703907 -7.580306   None
2   2.800481 -5.741061   None
17  1.729998 -5.304596   None
25  0.515582 -7.272296   None
16  0.654143 -4.939290   None
26  0.244125 -6.084566   None
27 -0.503822 -7.639772   None
28 -0.079576 -8.296741   None
37 -0.785034 -9.151159   None

In [52]:
# filtramos por costos de generadores
bus_A_aux = [i-1 for i in bus_A]
net_A.poly_cost.filter(items=bus_A_aux, axis=0)

,element,et,cp0_eur,cp1_eur_per_mw,cp2_eur_per_mw2,cq0_eur,cq1_eur_per_mvar,cq2_eur_per_mvar2
0,0,gen,0.2,0.3,0.01,0.0,0.0,0.0
1,0,ext_grid,0.2,0.3,0.01,0.0,0.0,0.0
2,1,gen,0.2,0.3,0.01,0.0,0.0,0.0